<Modal @ref="modal" Title="@(IsCreateForm ? "Create New Tag" : $"Update {SelectedTag!.Name} Tag")">
    <BodyTemplate>
        <EditForm id="editFormTagDetails" Model="@TagForm" OnValidSubmit="@OnSubmitForm">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mb-2">
                <label for="Name">Name</label>
                <InputText id="Name" class="form-control" @bind-Value="TagForm.Name"/>
                <ValidationMessage For="@(() => TagForm.Name)"/>
            </div>

            <div class="form-group mb-2">
                <label for="CategoryId">Category</label>
                <InputSelect id="CategoryId" class="form-control mt-1" @bind-Value="TagForm.CategoryId">
                    <option value="">Not selected</option>
                    @foreach (var category in Categories)
                    {
                        <option value="@category.CategoryId">@category.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => TagForm.CategoryId)" />
            </div>
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <div class="d-flex justify-content-between align-items-center w-100">
            <div>
                @if (!IsCreateForm)
                {
                    <Button Color="ButtonColor.Danger" @onclick="OnDeleteButtonClick">Delete</Button>
                }
            </div>
            <div>
                <Button Color="ButtonColor.Secondary" class="me-2" @onclick="HideAsync">Cancel</Button>
                @if (IsCreateForm)
                {
                    <button class="btn btn-success" form="editFormTagDetails">Create</button>
                }
                else
                {
                    <button class="btn btn-primary" form="editFormTagDetails">Save</button>
                }
            </div>
        </div>
    </FooterTemplate>
</Modal>
