@page "/expenses"
@using ExpenseTracker.Business.Expenses.DTOs

@*@attribute [StreamRendering]*@
@rendermode @(new InteractiveAutoRenderMode(prerender: false))

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Expenses</h1>
    <NavLink href="/expenses/create" class="btn btn-success">Create Expense</NavLink>
</div>

@if (Expenses.IsLoading)
{
    <p>Loading data from API...</p>
}
else if (Expenses.IsSuccess)
{
    <Grid TItem="ExpenseDTO" 
          Data="Expenses.Data"
          AllowRowClick="true"
          AllowSorting="true"
          OnRowClick="OnRowClick"
          Class="table table-hover table-bordered table-striped">
        <GridColumns>
            <GridColumn TItem="ExpenseDTO" HeaderText="Date" PropertyName="@nameof(ExpenseDTO.CreatedAt)" SortKeySelector="e => e.CreatedAt">
                @context.DisplayDate
            </GridColumn>
            <GridColumn TItem="ExpenseDTO" HeaderText="Description" PropertyName="@nameof(ExpenseDTO.Description)" SortKeySelector="e => e.Description ?? string.Empty">
                @context.Description
            </GridColumn>
            <GridColumn TItem="ExpenseDTO" HeaderText="€" PropertyName="@nameof(ExpenseDTO.Amount)" SortKeySelector="e => e.Amount" TextAlignment="Alignment.End">
                @context.DisplayAmount
            </GridColumn>
            <GridColumn TItem="ExpenseDTO" HeaderText="Category" PropertyName="@nameof(ExpenseDTO.Category)" SortKeySelector="e => e.Category == null ? string.Empty : e.Category.Name">
                @context.Category?.Name
            </GridColumn>
            <GridColumn TItem="ExpenseDTO" HeaderText="Tags" PropertyName="@nameof(ExpenseDTO.Tags)">
                @foreach (var tag in context.Tags)
                {
                    <Badge Color="BadgeColor.Primary" IndicatorType="BadgeIndicatorType.RoundedPill" Class="me-1">@tag.Name</Badge>
                }
            </GridColumn>
        </GridColumns>
    </Grid>
}
else
{
    <p>@Expenses.ErrorMessage</p>
}
