<p>
    Available categories: @string.Join(", ", Categories.Select(c => c.Name))
</p>

<p>
    Available tags: @string.Join(", ", Tags.Select(c => c.Name))
</p>

<EditForm Model="@ExpenseForm" OnValidSubmit="@SubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-2">
        <label for="CreatedAt">Date</label>
        <InputDate id="CreatedAt" class="form-control" @bind-Value="ExpenseForm.CreatedAt" />
        <ValidationMessage For="@(() => ExpenseForm.CreatedAt)" />
    </div>

    <div class="form-group mb-2">
        <label for="Amount">Amount</label>
        <InputNumber id="Amount" class="form-control" @bind-Value="ExpenseForm.Amount" />
        <ValidationMessage For="@(() => ExpenseForm.Amount)" />
    </div>

    <div class="form-group mb-2">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="ExpenseForm.Description" />
        <ValidationMessage For="@(() => ExpenseForm.Description)" />
    </div>

    <div class="form-group mb-2">
        <label for="CategoryId">Category</label>
        <InputSelect id="CategoryId" class="form-control" @bind-Value="ExpenseForm.CategoryId">
            <option value="">Not selected</option>
            @foreach (var category in Categories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => ExpenseForm.CategoryId)" />
    </div>
    
    <div class="form-group mb-2">
        <p>Tags</p>
        @foreach (var tag in Tags)
        {
            <span class="badge rounded-pill bg-secondary d-inline-flex justify-content-center align-items-center me-2">
                <input type="checkbox" class="form-check-input mt-0 me-2" checked="@ExpenseForm.TagIds.Contains(tag.TagId)" @onchange="@(e => TagChecked(tag.TagId, e))" />
                <label for="@tag.TagId">@tag.Name</label>
            </span>
        }
    </div>

    <button type="submit" class="btn btn-primary mt-2">@(IsCreateForm ? "Create" : "Update")</button>
</EditForm>
